body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
}

.header {
    font-size: 110%;
    font-weight: bold;
    color: #555
}

.label {
    font-weight: bold;
}

.contactFormCell {
    padding-left: 20px;
}

.cellTable {
    border-bottom: 1px solid #ccc;
    text-align: left;
    margin-bottom: 4px;
}